*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.cabecera {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.cabecera img {
    width: 200px;
    height: auto;
    border-radius:15px;
}

body{
    font-family:Arial, sans-serif;
    background:#111;
    color:white;
}

header{
    background:linear-gradient(135deg,#1a1a1a,#5b21b6);
    text-align:center;
    padding:80px 20px;
}

header h1{
    font-size:3rem;
    color:white;
}

header span{
    color:#c084fc;
}

header p{
    margin-top:15px;
    font-size:1.2rem;
}

section{
    max-width:1100px;
    margin:auto;
    padding:60px 20px;
}

h2{
    color:#c084fc;
    margin-bottom:20px;
}

.tarjeta{
    background:#1f1f1f;
    padding:25px;
    border-radius:15px;
    margin-bottom:20px;
    border:1px solid #333;
}

footer{
    background:#0d0d0d;
    text-align:center;
    padding:30px;
    color:#999;
}
